   body {
       text-align: center;
}

h2 {
            color: rgb(200, 2, 15);
    text-align: center;
        }  
        
        body {
            background-color: rgb(9, 50, 100);
            text-align: center;
        }
