h1{ 
   text-align: center;
   color:#FF1493;
}

h2 {
    text-align: center;
   color:#FFFAFA;
        }  
        
        body {
           background-color: #E6E6FA;
           background-image: url("sky1.jpg");
            text-align: center;
}

p {
 color: #FFFFFF;
   background-color: #000000;
   margin-right: 100px;
   margin-left: 100px;
    text-align: center;
           
           }
  
