h1{ 
   text-align: center;
   color:#FF1493;
   background-color:#FFFFFF;
   font-family: "Georgia";
   margin-right: 10px;
   margin-left: 10px;
}

h2 {
    text-align: center;
   color:#FFFAFA;
   font-family: "Georgia";
   background-color: #FFFFFF;
   margin-right: 10px;
   margin-left: 10px;
        }  
        
        body {
           background-color: #E6E6FA;
           background-image: url("sky1.jpg");
            text-align: center;
           font-family: "Georgia";
}

p {
 color: #FFFFFF;
   background-color: #000000;
   margin-right: 100px;
   margin-left: 100px;
    text-align: center;
           font-family: "Georgia";
           }

        
       
